<h2>Innlogging</h2>
<form id="loginForm">
    <label for="loginUsername">Brukernavn:</label>
    <input type="text" id="loginUsername" name="loginUsername" required>
    <label for="loginPassword">Passord:</label>
    <input type="password" id="loginPassword" name="loginPassword" required>
    <button type="submit">Logg inn</button>
</form>