@model User

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<div class="container">
    <div class="grid-layout">
        <div class="text-content">
            <h1 class="display-4">Liv og Røre</h1>
            <p>Velkommen til Liv og Røre. Vi tilbyr en platform for eldre med eventer i nærområdet. For å bli med, logg inn eller lag bruker, trykk på knappene nedenfor!</p>

            <div class="d-flex justify-content-center mt-4">
                <a class="btn btn-lg btn-warning text-white fw-bold px-4 py-3 me-3 shadow"
                   asp-area="Identity" asp-page="/Account/Register">Register</a>

                <a class="btn btn-lg btn-warning text-white fw-bold px-4 py-3 me-3 shadow"
                   asp-area="Identity" asp-page="/Account/Login">Login</a>

                <a class="btn btn-lg btn-warning text-white fw-bold px-4 py-3 me-3 shadow"
                   href="#">Meld deg på!</a>

                <a class="btn btn-lg btn-warning text-white fw-bold px-4 py-3 shadow"
                   href="#">Mer informasjon</a>
            </div>
        </div>

        <div class="image-content">
            <img src="livogrøre.jpg" alt="Description of Image">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/scripts/scripts.js"></script>
}