@model User

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<link rel="icon" type="image/x-icon" href="/Livogrøre_logo.png">


<div class="container">
    <div class="grid-layout">
        <div class="text-content">
            <h1 class="display-4" style="color: white;">Liv og Røre</h1>
            <p style="color: white;">Velkommen til Liv og Røre. Vi tilbyr en platform for eldre med eventer i nærområdet. For å bli med, logg inn eller lag bruker, trykk på knappene nedenfor!</p>

            <div class="d-flex justify-content-center mt-4 flex-wrap">
                <a class="button me-3" asp-area="Identity" asp-page="/Account/Register">Register</a>

                <a class="button me-3" asp-area="Identity" asp-page="/Account/Login">Login</a>

                <a class="button me-3" href="#">Meld deg på!</a>

                <a class="button me-3" href="#">Mer informasjon</a>
            </div>
        </div>

        <div class="image-content">
            <img src="lor.png" alt="Logo for Liv og Røre">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/scripts/scripts.js"></script>
}