@model User

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="grid-layout">
        <div class="text-content">
            <h1 class="display-4">Liv og Røre</h1>
            <p>Velkommen til Liv og Røre. Vi tilbyr en platform for eldre med eventer i nærområdet. For å bli med, logg inn eller lag bruker nedenfor!</p>
            
            <div class="button-group">
                <a href="/Identity/Account/Register" class="btn signup-btn">Meld deg på!</a>
                <a href="#" class="btn info-btn">Mer informasjon</a> 
            </div>
        </div>
        <div class="image-content">
            <img src="livogrøre.jpg" alt="Description of Image">
        </div>
    </div>
</div>
