
@{
    ViewBag.Title = "title";
}

<h2>Lag ny event</h2>

<form>
    <div class="form-group">
        <label>Event Name</label>
        <input type="text" class ="form-control" />
    </div>
    <div class="form-group mt-3">
        <label>Date</label>
        <input type="date" class="form-control" />
    </div>
    
    <button type="submit" class="btn btn-primary mt-3">Lag Event</button>
</form>
